<h1>Bienvenue dans mon application {{ title | uppercase }} </h1>
<app-menu></app-menu>
{{ title | getChar:2:4}}
<!-- angular9 => gu-->
<ul>
    <li *ngFor='let elt of personne | objToArray'> {{ elt }} : {{ personne[elt] }}</li>
</ul>
<router-outlet>
</router-outlet>


<!-- <p>{{ personne.prenom }} {{ personne.nom }} </p>
    {{ personne | json }}{{ direBonjour() }}
    <p>{{ title }}</p>
    <p [textContent]=title [class]=couleur></p>
    <p [textContent]=title [ngStyle]='{color: couleur}'></p>
    <p [textContent]=title [ngClass]='{red: title.length > 2}'></p>
    <p [textContent]=title [ngClass]='"title.length < 2" ? "blue" : "red"'></p>
    <ul>
        <li> {{ tab[0] }} </li>
        <li> {{ tab[1] }} </li>
        <li> {{ tab[2] }} </li>
        <li> {{ tab[3] }} </li>
    </ul>
    <ul>
        <li *ngFor='let elt of tab;  index as i; let isFirst=first; let isEven= even; let isLast= last; let isOdd=odd'>
            {{ i }} : {{ elt }} : {{ isFirst }} : {{ isLast }} : {{ isEven }} : {{ isOdd }}
        </li>
    </ul>
    <ul>
        <li *ngFor='let perso of personnes;'>
            {{ perso.prenom }} {{ perso.nom }}
        </li>
    </ul>
    <ul>
        <li *ngIf="tab[1] % 2 != 0; else sinon">
            {{ tab[1] }} est impair
        </li>
        <ng-template #sinon>
            <li>{{ tab[1] }} est pair</li>
        </ng-template>
    </ul>
    <ul>
        <ng-container *ngFor='let elt of tab'>
            <li *ngIf="elt % 2 != 0; else sinon">
                {{ elt}} est impair
            </li>
            <ng-template #sinon>
                <li>{{ elt }} est pair</li>
            </ng-template>
        </ng-container>
    </ul>




    <ul>
        <ng-container *ngFor='let elt of tab'>
            <li *ngIf="elt > 0 && elt < 10 ; else sinon">
                {{ elt}} : échec
            </li>
            <ng-template #sinon>
                <li *ngIf="elt >=10  && elt < 12 ; else sinon2">
                    {{ elt}} : acceptable
                </li>
                <ng-template #sinon2>
                    <li *ngIf="elt >=12 && elt < 15 ; else sinon3">
                        {{ elt}} : bien
                    </li>
                    <ng-template #sinon3>
                        <li>{{ elt }} : excellent</li>
                    </ng-template>
                </ng-template>
            </ng-template>
        </ng-container>
    </ul>

    <ul>
        <ng-container *ngFor="let elt of personnes">
            <ng-container [ngSwitch]="elt.nom.length % 2">
                <li *ngSwitchCase="0">
                    le nom {{ elt.nom }} contient un nombre pair de caractères
                </li>

                <li *ngSwitchDefault>
                    le nom {{ elt.nom }} contient un nombre impair de caractères
                </li>
            </ng-container>
        </ng-container>
    </ul>
    <ul>
        <ng-container *ngFor="let elt of personnes">
            <ng-container [ngSwitch]="true">
                <li *ngSwitchCase="elt.nom.length % 2 == 0">
                    le nom {{ elt.nom }} contient un nombre pair de caractères
                </li>

                <li *ngSwitchDefault>
                    le nom {{ elt.nom }} contient un nombre impair de caractères
                </li>
            </ng-container>
        </ng-container>
    </ul>

    <ul>
        <ng-container *ngFor="let elt of tab">
            <li [ngClass]="{'red': elt % 2 != 0, 'blue': elt % 2 == 0}">
                {{ elt }}
            </li>
        </ng-container>
    </ul>

    <ul>
        <ng-container *ngFor="let elt of tab">
            <li [ngClass]="elt % 2 == 0 ? 'blue' : 'red'">
                {{ elt }}
            </li>
        </ng-container>
    </ul> -->